.wrapper {
  position: fixed;
  height: 8vh;
  width: 100vw;
  min-height: 50px;
  background: rgb(0,109,187);
  background: linear-gradient(34deg, rgba(0,109,187,1) 0%, rgba(14,121,178,1) 67%);
  z-index: 1000;
  margin-bottom: 10vh;
}

#logo {
  position: absolute;
  left: 2vw;
  top: 2vh;
  height: 30px;
  cursor: pointer;
}

#pages {
  position: absolute;
  left: calc(3vw + 140px);
  top: 0;
  line-height: 8vh;
  width: 50vw;
}

.page-title {
  display: inline-block;
  float: left;
  color: #FBFEF9;
  padding-left: 10px;
  padding-right: 10px;
  height: 8vh;
}

.page-title:hover {
  background: #0261a5;
}

#account {
  position: absolute;
  right: 1vw;
  top: 0;
  line-height: 8vh;
}

.account-button {
  display: inline-block;
  float: left;
  color: #FBFEF9;
  padding-left: 10px;
  padding-right: 10px;
}

.account-button:hover {
  background: #0261a5;
}
