<div #scrollTopHelper style="background: rgb(0,109,187); opacity: 1; height: 0px; top: 1px; left: 0px" ></div>
<div class="wrapper">
  <img routerLink="" (click)="goToTop(scrollTopHelper)" id="logo" src="./assets/images/logo.png">

  <div id="pages">
    <div *ngFor="let page of pages">
      <div routerLink="{{page.navigatePath}}" class="page-title">{{page.displayName}}</div>
    </div>
  </div>

  <div *ngIf="!isLoggedIn" id="account">
    <div routerLink="/login" class="account-button">Login</div>
    <div routerLink="/signup" class="account-button">Sign up</div>
  </div>
</div>
