<app-header></app-header>

<div class="wrapper">
  <div id="filtering-area">

    <label>Materie:</label>
    <p-autoComplete [(ngModel)]="subject" [suggestions]="subjectSuggestions" (completeMethod)="searchSubjects($event)"
                    [dropdown]="true" [forceSelection]="true"></p-autoComplete>
    <br>
    <br>

    <label>Universitate:</label>
    <p-autoComplete [(ngModel)]="university" [suggestions]="uniSuggestions" (completeMethod)="searchUnis($event)"
                    [dropdown]="true" [forceSelection]="true"></p-autoComplete>
    <br>
    <br>

    <label>Oraș:</label>
    <br>
    <p-autoComplete id="cityPicker" [(ngModel)]="city" [suggestions]="citySuggestions" (completeMethod)="searchCity($event)"></p-autoComplete>
    <br>
    <br>

    <button id="filter-button">Filtrează</button>

  </div>

  <div id="profiles-area">
    <input
      id="search-bar"
      type="text"
      placeholder="caută dupa nume.."
      [(ngModel)]="profileName">
    <div id="search-button" (click)="filterByName()">
      <img style="height: 30px; position: relative; top: 5px;" src="assets/images/search-icon.png">
    </div>
    <br>
    <br>
    <br>

    <div *ngFor="let profile of visibleList">
      <app-profile-list-view [userProfile]="profile"></app-profile-list-view>
      <br>
    </div>

  </div>
</div>
