<app-header></app-header>

<div class="main-content">
  <div id="first-sentence">Ești bun la ceva și cauți de lucru?</div>
  <div id="second-sentence">Ai de lucru și cauți pe cineva<br> să-l facă?</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div id="third-sentence">În <span style="color: #BF1363">orice situație</span> ai fi,
    <br><span style="position: relative; left: 200px"><div (click)="scrollDown(aboutus)" class="hyperlink-about">aici</div> găsești ceea ce cauți.</span>
  </div>

  <img id="ball-logo" src="./assets/images/balllogo.png">

  <div #aboutus id="about-us">
    <div id="about-header">Cine suntem noi?</div>
    <div id="about-content">
      Lorem Ipsum lorem ipsum nu mor caii cand latra leii altora bla bla
      Text Text text pentru voi. Fiindca meritati. Slots casino bombardieri pazitori Ian si
      Azteca 4 bagaboante <br> Da, ai auzit bine!
    </div>

  </div>
</div>
