.main-content {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vh;
  background: #FBFEF9;
  height: 200vh;
}

#first-sentence {
  font-size: 60px;
  font-weight: 600; /* semi-bold */
  letter-spacing: -1px;
  color: #F39237;
}

#second-sentence {
  font-size: 60px;
  font-weight: 600; /* semi-bold */
  letter-spacing: -1px;
  color: #BF1363;
}

#third-sentence {
  font-size: 60px;
  font-weight: 600; /* semi-bold */
  letter-spacing: -1px;
  color: #F39237;
}

.hyperlink-about {
  font-size: 60px;
  font-weight: 600; /* semi-bold */
  letter-spacing: -1px;
  color: #F39237;
  display: inline;
  text-decoration: underline;
}

.hyperlink-about:hover {
  color: #BF1363;
}

#ball-logo {
  position: absolute;
  top: 10vh;
  right: 3vw;
  height: 85vh;
}

/* ABOUT US SECTION */

#about-us {
  position: absolute;
  top: 110vh;
  height: 100vh;
  width: 80vw;
}

#about-header {
  padding-top: 2vh;
  color: #191923;
  font-size: 50px;
  font-weight: bold;
}
