<app-header></app-header>

<div class="wrapper">
  <div id="login-header">Creează-ți un cont:</div>

  <div id="inputs">
    <div class="signup-input">
      <label>Prenume</label>
      <br>
      <input [(ngModel)]="newAccount.firstName">
    </div>

    <div class="signup-input">
      <label>Nume</label>
      <br>
      <input [(ngModel)]="newAccount.lastName">
    </div>

    <div class="signup-input">
      <label>Data nașterii</label>
      <br>
      <div style="height: 30px">
        <p-calendar [(ngModel)]="newAccount.dateOfBirth"></p-calendar>
      </div>
    </div>

    <div class="signup-input">
      <label>Email</label>
      <br>
      <input [(ngModel)]="newAccount.email">
    </div>

    <div class="signup-input">
      <label>Oraș</label>
      <br>
      <p-autoComplete [suggestions]="filteredCities" [(ngModel)]="newAccount.city" (completeMethod)="searchCity($event)"></p-autoComplete>
    </div>

    <div class="signup-input">
      <label>Doriți să lucrați ca freelancer pe acest site?<br><b>(configurare cont de freelancer)</b></label>
      <br>
      <p-inputSwitch [(ngModel)]="freelancerAccount"></p-inputSwitch>
    </div>

    <div *ngIf="freelancerAccount">
      <div class="signup-input">
        <label>Adăugați o descriere:</label>
        <br>
        <textarea pInputTextarea [rows]="5" [cols]="50" [(ngModel)]="newAccount.freelancerInfo.description"></textarea>
      </div>

      <div class="signup-input">
        <label>Adăugați CV:</label>
        <br>
        <textarea pInputTextarea [rows]="5" [cols]="50" [(ngModel)]="newAccount.freelancerInfo.cvLink"></textarea>
      </div>
    </div>

    <div class="signup-input">
      <label>Doriți să găsiți un freelancer pentru un proiect sau să postați un anunț de job?<br><b>(configurare cont de angajator)</b></label>
      <br>
      <p-inputSwitch [(ngModel)]="employerAccount"></p-inputSwitch>
    </div>

    <div *ngIf="employerAccount">
      <div class="signup-input">
        <label>Numele firmei dumneavoastră:</label>
        <br>
        <input [(ngModel)]="newAccount.employerInfo.name">
      </div>

      <div class="signup-input">
        <label>Locația firmei dumneavoastră:</label>
        <br>
        <input [(ngModel)]="newAccount.employerInfo.location">
      </div>

      <div class="signup-input">
        <label>Descrierea firmei dumneavoastră:</label>
        <br>
        <textarea pInputTextarea [rows]="5" [cols]="50" [(ngModel)]="newAccount.employerInfo.description"></textarea>
      </div>
    </div>

    <button [disabled]="checkIfValid()" (click)="createAccount()" id="createButton">Creează cont</button>

  </div>

</div>
