.page-content{
    background-color: #FBFEF9;
    margin: auto;
    width: 60%;
    position: relative;
    top: 10vh;
    display: grid;
    grid-template-areas: 
        'filters search-bar'
        'filters jobs';
    gap: 30px 50px;
    grid-template-columns: 25% 75%;
}

.filters {
    grid-area: filters;
}

.jobs {
    grid-area: jobs;
}

.search-bar {
    
    grid-area: search-bar;
}

.search-bar > input {
    width: calc(100% - 60px);
    height: 35px;
    font-size: 18px;
}

.filter-section {
    margin-bottom: 3vh;
    text-align: center;
}

.filter-section > label {
    background-color: #BF1363;
    color: #FBFEF9;
    font-size: 1.5rem;
    padding: 0.3rem;
    border-radius: 4px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.filter-section > select, .slider-container {
    width: 80%;
    margin: 0 auto;
}

select, .range-value{
    font-size: 18px;
}