<div class="wrapper">
  <div id="photo" (click)="navigateToProfile(userProfile.id)">
    <img *ngIf="thumbnail" [src]="thumbnail">
    <div *ngIf="!thumbnail" style="font-size: 70px">{{userProfile.userName[0]}}</div>
  </div>

  <div id="name" (click)="navigateToProfile(userProfile.id)">{{userProfile.userName}}
    <div id="position">{{userProfile.userPosition}}</div>
  </div>

  <div id="userInfo">
    <div>preț: <b>{{userProfile.price}}</b></div>
    <div>experiență: <b>{{userProfile.experience}}</b></div>
  </div>

  <div id="description">{{userProfile.description}}</div>

</div>
