.wrapper {
    border-radius: 5px;
    border: 1px solid rgb(56, 52, 52);
    padding: 2vh;
    display: flex;
    margin-bottom: 20px;
    box-shadow: #191923 4px 5px 12px -4px;
    background: white;
}

.job-info{
    flex-grow: 3;
}

.job-info > p {
    margin-bottom: 0.5em;
}

.category-tag{
    background-color: #F39237;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
}

.link:hover{
    text-decoration: underline;
}

