.wrapper {
  background: #FBFEF9;
  height: 92vh;
}

#login-header {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  left: calc(50% - 10vw);
  margin-top: 80px;
}

#inputs {
  position: absolute;
  left: calc(50% - 10vw);
  margin-top: 130px;
  padding: 20px;
  background: white;
  border-radius: 15px;
  border: solid 1px #191923;
}

.login-input {
  margin-bottom: 30px;
  height: 30px;
  font-size: 18px;
  width: 20vw;
  padding: 5px;
}

#forgot {
  position: relative;
  left: 13vw;
  top: -30px;
  font-size: 17px;
}

#forgot:hover {
  color: #BF1363;
}
