/* forgot to use scss for stylesheets, so taking the global css variables from here will have to work */

div {
  font-family: Calibri;
  font-size: 18px;
}

::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/*
    app-white  - #FBFEF9
    app-black  - #191923
    app-blue   - #0E79B2
    app-pink   - #BF1363
    app-yellow - #F39237
 */

button {
  height: 35px;
  width: 60px;
  background: #0E79B2;
  border-radius: 5px;
  font-size: 15px;
  color: #FBFEF9;
}

button:hover {
  box-shadow: #191923 4px 5px 12px -4px;
}

.p-calendar .p-inputtext {
  font-family: Calibri;
  font-size: 18px;
  padding: 5px;
  border: solid 1px #191923;
}

.p-inputtext {
  height: 30px;
  padding: 5px !important;
  font-family: Calibri !important;
  font-size: 18px !important;
}

textarea {
  padding: 5px;
  font-family: Calibri;
  font-size: 18px;
  max-width: 35vw;
  min-height: 35px;
}
